<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Formulario de autores - Editar
    </div>
    <div class="card-body">
      <form method="POST" action="/adminEdd/autores/post">

        <div class="form-group">
          <label for="Nombre" class="form-label">Nombre:</label>
          <input type="text" value="{{Autor.autorName}}" class="form-control" id="Nombre" name="Nombre" required/>
        </div>

        <div class="form-group">
          <label for="correo" class="form-label">Correo:</label>
          <input type="text"class="form-control" value="{{Autor.correo}}" id="imgurl" name="Correo" required />
        </div>
         <input type="hidden" value="{{Autor.id}}" name="elemetnId">
        <div>
          <button type="submit" class="btn btn-primary mt-3 float-end">Enviar</button>
          <a href="/autores" class="btn btn-warning mt-3 float-end me-3">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
